<input type="hidden" name="authenticity_token"
       value="<%= form_authenticity_token %>">

<% if !@question.id || @question.user_id == current_user.id %>
  <label for="title">Title</label>
  <input type="text" name="question[title]"
         value="<%= @question.title %>" id="title">
<% end %>

<label for="body">Body</label>
<textarea name="question[body]" id="body" rows="50" cols="100"
><%= @question.body %></textarea>