<% if @question.user_id == current_user.id %>
  <% button = "Update Your Question" %>
<% else %>
  <% button = "Submit Edit" %>
<% end %>

<h1 class="centered-header">Edit "<%= @question.title %>"</h1>

<form action="<%= question_url(@question) %>" method="post" class="questions-form">
  <input type="hidden" name="_method" value="put">

  <%= render 'form' %>

  <input type="submit" value="<%= button %>" class="submit-button">
</form>