<h1 class="centered-header">Create a Question</h1>

<form action="<%= questions_url %>" method="post" class="questions-form">
  <%= render 'form' %>

  <input type="submit" value="Sumbit Question" class="submit-button">
</form>