<%= render 'questions/question' %>

<div class="answers">
  <h5 class="answer-header">
    <%= pluralize(@question.answers.count, "Answer") %>
  </h5>
  <% @answers.each do |answer| %>
    <%= render 'answers/answer', :answer => answer %>
  <% end %>
</div>

<h5 class="answer-title">Your Answer</h5>
<div class="new-answers-form">
  <%= render 'answers/form', :type => "new" %>
</div>