<div id="content" class="loading">
  <%= image_tag "ajax-loader.gif", class: "loader" %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    HackUnderflow.initialize();
  });
</script>