<div class="content">
  <h1 class="centered-header">Sign In</h1>

  <form action="<%= session_url %>" method="post" class="users-form">
    <%= render 'shared/form', :is_new => false %>

    <input type="submit" value="Sign In" class="submit-button">
  </form>
</div>