<div class="content">
  <h1 class="centered-header">Sign In</h1>

  <form action="<%= session_url %>" method="post" class="users-form">
    <%= render 'shared/form', :is_new => false %>

    <input type="submit" value="Sign In" class="submit-button">
  </form>
  
  </br>
  </br>
    <p class="guest-header">Not sure whether you want to register for this site? Sign in as a guest to check it out!  
      (Note: Only one guest can be logged in at once, so you may be unexpectedly logged out.)</p>
    <form action="<%= guest_session_url %>" method="post" class="users-form">
      <input type="submit" value = "Sign In As Guest" class="submit-button">
    </form>
  </div>
</div>