<% if(type === "new") %>
  <% var method = "post" %>
  <% var button = "Post Your Answer" %>
<% else %>
  <% var method = "put" %>
  <% if answer.escape("user_id") === current_user.id %>
    <% var button = "Update Your Answer" %>
  <% else %>
    <% var button = "Submit Edit" %>
  <% end %>
<% end %>

<form class="answers-form">
  <label for="answer_body"></label>
  <textarea name="answer[body]" id="answer_body"
  rows="20" cols="20"><%= answer.escape("body") %></textarea>

  <input type="submit" value="<%= button %>" class="submit-button">
</form>