<span class="<%= voted === "up" ? "voted-up" : "arrow-up" %>"></span>
<span class="votes"><%= object.escape("vote_counts") %></span>
<span class="<%= voted === "down" ? "voted-down" : "arrow-down" %>"></span>