</br>
<h5 class="answer-title">Your Comment</h5>
<form class="comments-form">
  <label for="comment_body"></label>
  <textarea name="comment[body]" id="comment_body"
  rows="20" cols="20"><%= comment.escape("body") %></textarea>

  <input type="submit" value="Add Comment" class="submit-button">
</form>