<div class="content">
  <h1 class="centered-header">Create a New Account</h1>

  <form action="<%= users_url %>" method="post" class="users-form">
    <%= render 'shared/form' %>

    <label for="password_confirmation">Confirm Password</label>
    <input type="password" name="user[password_confirmation]"
           id="password_confirmation">

    <input type="submit" value="Create Account" class="submit-button">
  </form>
</div>