<h1 class="centered-header"><%= @user.username.capitalize %></h1>
<% unless @user.questions.empty? %>
  <div class="questions-list">
    <h5 class="profile-header">
      <%= pluralize(@user.questions.count, "Question") %>
    </h5>
    <ul>
      <% @user.questions.each do |question| %>
        <li class="questionLi"><%= link_to question.title, question %></li>
      <% end %>
    </ul>
  </div>
<% end %>