<div class="about-content">
  <h1 class="centered-header">About Hack Underflow</h1>

  <div class="intro-section">
    <p>Hack Underflow is based on <a href="http://www.stackoverflow.com">Stack Overflow</a>. It is a website for asking and answering questions about programming. Most of the features present on Stack Overflow are present here as well. This website is open source. Feel free to check out the Github repository for this app (or make a pull request if you find a bug) <a href="https://github.com/NatashaHull/HackUnderflow">here</a>.<!--  That said, this website is a little different from Stack Overflow in a few ways. --></p>
  </div>

  <div class="features-section">
    <h3 class="sub-header">Features</h3>
    <p>This, like Stack Overflow, is geared towards questions and answers. There is no discussion and only programming questions are allowed. However, there are other features that can be accessed by various users. Each user gains points through useful questions and answers. Each question and answer has a variety of associated features, such as votes, comments, and potentially even editing other user's posts that can be accessed by users with enough points. Additionally, each question's owner can accept up to one answer per question.</p>
  </div>

  <div class="questions-section">
    <h3 class="sub-header">Only Relevant Questions</h3>
    <p>Only ask questions for which you could use an answer. Try to solve the problem yourself and show your work. If you don't, you may not even understand the problem enough to get help. Be as specific as possible. While you may have a more general issue, more often than not you will only find a useful answer by being specific. Most questions are accepted, but open-ended questions or polls will be removed.</p>
  </div>

  <div class="points-section">
    <h3 class="sub-header">Get Points for Useful Questions, Answers and Edits</h3>
    <p>If your questions or answers are useful, other users can vote them up. If one of your answers is useful, the question owner can even accept your answer! Each time someone votes up one of your questions, you gain 5 points. Every time someone votes up one of your answers, you gain 10 points. If the question owner finds your answer useful and accepts your answer, then you gain 15 points. Moreover, if you have edited another user's question or answer (a feature that you get with 2000 points) and that edit gets accepted, you gain 2 more points.</p>

    <span class="points">
      <h4 class="sub-header">Get Points for:</h4>
      <ul>
        <li><span class="check">&#10003</span>
          Your questions getting votes (+5)</li>
        <li><span class="check">&#10003</span>
          Your answers getting votes (+10)</li>
        <li><span class="check">&#10003</span>
          Accepted answers (+15)</li>
        <li><span class="check">&#10003</span>
          Your edits being accepted (+2)</li>
      </ul>
    </span>
  </div>

  <div class="unlock-features-section">
    <h3 class="sub-header">Unlock New Features</h3>
    <p>When you join this website, you start out with 5 points. If you gain enough points in one of the ways above, you can do more things. With 15 points, you can vote up other peoples' questions and answers. With 50 points, you can comment on other user's questions and answers. With 125 points, you can vote down other user's questions and answers. (After all, you wouldn't want an inexperienced user to vote down your questions.) With 2000, you can edit other people posts.</p>
  </div>

  <div class="coming-features">
    <h1 class="centered-header">Coming Soon!</h1>
    <div class="backbone-section">
      <h3 class="sub-header">No Waiting for the Page to Load</h3>
      <p>This is a single page application. This means that most of what you need to click around this website loads once and immediately.</p>
    </div>
  </div>
</div>
