<div class="arrows">
  <!-- Fill in with Arrow Stuff -->
</div>

<pre class="question-body"><%= question.escape("body") %></pre>
<div class="question-links"
  ><a class="question-link edit-link">improve this question</a>|<a
   class="question-link comment-link"
   data-id="<%= question.escape("id") %>">comment</a></div>

<div class="user-info">
  <!-- Fill in with user info -->
</div>

<div class="comments">
  <% question.comments.forEach(function(comment) { %>
    <pre class="comment-body"
        ><%= comment.escape("body") %> - <%= comment.user().escape("username") %></pre>
  <% }); %>
</div>