// Place all the styles related to the EditSuggestions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-bodies {
  margin: auto;
  margin-left: 5%;
}

.edit-bodies-div {
  float: left;
  width: 45%;
  padding: 10px;
  margin: 10px;
  overflow-x: scroll;
}

.suggestion-header {
  margin-left: 10px;
}

.edit-compare-div {
  border: 1px solid black;
  padding: 10px;
}

.edit-line {
  display:block;
}