// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Show View */

.question, .answer {
  margin: 30px auto;
  margin-left: 55px;
  padding-left: 45px;
  width: 70%;
  padding-bottom: 30px;
}

.question-title {
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
}

.question-body, .answer-body {
  margin: 10px;
  margin-left: 0px;
}

.question-link {
  color: #888888;
  margin: 5px;
}

.question-link:hover {
  color: white;
  background-color: #888888;
}

.answer {
  border-bottom: 1px solid #cccccc;  
}

.answer-header {
  width: 70%;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
  margin-left: 55px;
}

.answer-title {
  width: 90%;
  padding: 5px;
  margin: 10px auto;
}

.comments {
  margin: 10px;
  border-bottom: 1px dotted #888888;
}

.comments .comment-body {
  padding: 5px;
  border-top: 1px dotted #888888;
}