// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* Show View */

.question, .answer {
  margin: 30px auto;
  margin-left: 55px;
  padding-left: 45px;
  width: 70%;
  padding-bottom: 30px;
  border-bottom: 1px solid #cccccc;
}

.question-title {
  width: 90%;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
}

.answer-header {
  width: 70%;
  padding: 5px;
  border-bottom: 1px solid #cccccc;
  margin: 10px auto;
  margin-left: 55px;
}

.answer-title {
  width: 90%;
  padding: 5px;
  margin: 10px auto;
}