// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Headers */

.header {
  margin: 20px;
  margin-left: 80%;
}

.header .header-button {
  background-color: #888888;
  border: 1px solid #888888;
  padding: 6px 12px 6px 12px;
  color: white;
}

.header .header-button:hover {
  background-color: #FF9900;
  border: 1px solid #FF9900;
}

/* About page */

.about-content {
  margin: 5%;
}

.about-content div {
  border-bottom: 1px solid #cccccc;
}

.about-content .coming-features div {
  border-top: 1px solid #cccccc;
}

.about-content .intro-section {
  margin: auto;
  text-align:center;
}

.about-content .points-section ul {
  list-style: none;
}

.about-content .points-section .check {
  float: left;
  width: 2em;
  color: #009900;
}