// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Navbar */
.top-bar {
  width: 100%;
  padding-top: 10px;
}

.top-bar .left {
  width: 50%;
}

.top-bar .left li {
  padding-left: 1em;
  color: #2ba6cb;
  float: left;
  width: 30%;
}

.top-bar .right {
  width: 50%;
}

.top-bar .right li {
  padding-left: 1em;
  padding-right: 1em;
  color: #2ba6cb;
  float: right;
  width: 23%;
  text-align: center;
}

.top-bar .right li a:hover {
  color: #5E777E;
}

.centered-header {
  text-align: center;
}

/* Forms */
.users-form, .questions-form, .answers-form {
  margin: auto;
  width: 70%;
}

.users-form label {
  padding: 5px;
  text-align: center;
  font-size: 1em;
}

.users-form input {
  margin: auto;
  padding: 5px;
  display: block;
  width: 20em;
  border-radius: 5px;
  font-size: .9em;
}

.users-form .submit-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin: auto;
  margin-top: 20px;
  font-size: 1.3em;
  width: 13em;
}

.questions-form textarea {
  width: 713px;
  height: 200px;
}

.questions-form .submit-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin: 25%;
  margin-top: 20px;
  font-size: 1.5em;
  width: 15em;
}

.answers-form textarea {
  width: 600px;
  height: 200px;
}

.answers-form .submit-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin: 25%;
  margin-top: 20px;
  font-size: 1em;
  width: 15em;
}

.comments-form {
  margin-left: 50px;
  width: 70%;
}

.comments-form textarea {
  width: 400px;
  height: 100px;
}

.comments-form .submit-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10%;
  margin-top: 20px;
  font-size: 1em;
  width: 15em;
}

.suggestion-forms {
  margin: auto;
  margin-top: 10px;
  margin-left: 36%;
}

.suggestion-form .accept-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1em;
  width: 8em;
}

.suggestion-form .reject-button {
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 1em;
  width: 8em;
}

.suggestion-form {
  margin-top: 20px;
  float: left;
  margin: 5px;
}

.submit-button:hover, .accept-button:hover, .reject-button:hover {
  background-color: black;
  color: white;
}

/* Index */

.users-list {
  display: block;
  list-style-type: none;
}

.userLi .user-info {
  float: left;
  height: 57px;
  width: 200px;
  margin: 25px;
}

.userLi .user-info .gravatar {
  height: 57px;
  float: left;
}

.userLi .user-info .user {
  line-height: 15px;
  width: 100px;
  margin-left: 5px;
  margin-top: 5%;
  float: left;
}

/* Profile */

.profile-main-header {
  text-align: center;
}

.profile-info .profile-header {
  margin: auto;
}

.profile-info {
  width: 250px;
  height: 150px;
  margin-left: 8%;
}

.profile-info li {
  margin: auto;
  text-align: center;
  list-style-type: none;
  border-top: 1px solid #cccccc;
}

.profile-list {
  float: left;
  width: 500px;
}

.profile-list .profileLi {
  border-top: 1px solid #cccccc;
  margin: 50px auto;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px;
  width: 70%;
  list-style-type: none;
}

.profile-header {
  margin-left: 75px;
}