// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrows {
  height: 100px;
  float: left;
  margin: 7px;
  margin-left: -20px;
  margin-top: -10px;
}

.arrow-up,
.voted-up,
.arrow-down,
.voted-down {
  border-style: dashed;
  border-color: transparent;
  border-width: 0.53em;
  display: -moz-inline-box;
  display: block;
  font-size: 25px;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: middle;
  width: 0;
  cursor: pointer;
}

.arrow-up, .voted-up {
  border-bottom-width: 1em;
  border-bottom-style: solid;
  bottom: .1em;
}

.arrow-up {
  border-bottom-color: #cccccc;
}

.voted-up {
  border-bottom-color: #FF9900;
}

.arrow-down, .voted-down {
  border-top-width: 25px;
  border-top-style: solid;
  top: .1em;
}

.arrow-down {
  border-top-color: #cccccc;
}

.voted-down {
  border-top-color: #FF9900;
}

.votes {
  text-align: center;
  padding: 10px;
  margin-left: -5px;
}