// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.arrows {
  height: 100px;
  float: left;
  margin: 7px;
  margin-left: -10px;
  margin-top: -10px;
}

.arrow-up, .voted-up {
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
}

.arrow-up {
  border-bottom: 15px solid #cccccc;
}

.voted-up {
  border-bottom: 15px solid #FF9900;
}

.arrow-down, .voted-down {
  display: block;
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent; 
  margin-bottom: 5px;
  cursor: pointer;
}

.arrow-down {
  border-top: 15px solid #cccccc;  
}

.voted-down {
  border-top: 15px solid #FF9900;
}

.votes {
  text-align: center;
  padding: 10px;
}