<div class="header">
  <form action="<%= new_question_url %>" method="get">
    <input type="hidden" name="authenticity_token"
           value="<%= form_authenticity_token %>">

    <input type="submit" value="Ask Question" class="header-button">
  </div>
</form>